In [2]:
#Converting python object to string
obj={"name":"mukul","age":"28","city":"faridabad"}
print(type(obj))
import json
str=json.dumps(obj)
print(str)
print(type(str))

<class 'dict'>
{"name": "mukul", "age": "28", "city": "faridabad"}
<class 'str'>

In [4]:
#Converting string to python object
str='{"name": "mukul", "age": "28", "city": "faridabad"}'
print(type(str))
obj2=json.loads(str)
print(type(obj2))
print(obj2)

<class 'str'>
<class 'dict'>
{'name': 'mukul', 'age': '28', 'city': 'faridabad'}

In [6]:
#Writing python object to json file
obj3={"name":"mukul","age":"28","city":"faridabad"}
file=open("data.json","w")
json.dump(obj3,file)
file.close()

In [7]:
#Loading data from json file to python object
file=open("data.json","r")
obj4=json.load(file)
print(obj4)

{'name': 'mukul', 'age': '28', 'city': 'faridabad'}

In [13]:
#Writting data to file with indentation
obj5={"name":"mukul","age":"28","city":"faridabad"}
file2=open("data2.json","w")
json.dump(obj5,file2,indent=100)
file2.close()