In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\mukul.mendiratta\appdata\local\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mukul.mendiratta\appdata\local\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mukul.mendiratta\appdata\local\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mukul.mendiratta\appdata\local\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mukul.mendiratta\appdata\local\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\mukul.mendiratta\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import pandas as pd
series=pd.Series([1,2,3,4,5,6])
print(series)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [8]:
marks=pd.Series([100,99,88,78],index=["neha","mukul","shubham","ankur"])
print(marks)

neha       100
mukul       99
shubham     88
ankur       78
dtype: int64

In [11]:
data={
    "name":["mukul","neha"],
    "age":[28,27],
    "marks":[99,100]
}
df=pd.DataFrame(data)

In [12]:
print(df)

    name  age  marks
0  mukul   28     99
1   neha   27    100

In [13]:
print(df.index)

RangeIndex(start=0, stop=2, step=1)

In [14]:
print(df.columns)

Index(['name', 'age', 'marks'], dtype='object')

In [15]:
#change column name
df.columns=["Student Name","Student Age","Student Marks"]

In [16]:
print(df)

  Student Name  Student Age  Student Marks
0        mukul           28             99
1         neha           27            100

In [17]:
df.index=["a","b"]

In [18]:
print(df)

  Student Name  Student Age  Student Marks
a        mukul           28             99
b         neha           27            100

In [19]:
print(df.index)

Index(['a', 'b'], dtype='object')